body {
    
    margin: 0;
    padding: 0;
    
    font-family: monospace, sans-serif;

    background-color:black;
    background-image:url("images/javier-esteban-freeway.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/*css grid layout for home-page*/
.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 4fr .2fr;
    
    grid-template-areas:
        "topnav topnav topnav"
        "main main main"
        "footer footer footer";
    grid-gap: 0;
    
    
}

.grid2 {
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 2fr .2fr;
    
    grid-template-areas:
        "topnav topnav topnav topnav"
        "projects projects projects projects"
        "content1 content2 content3 content4"
        "footer footer footer footer";
    grid-column-gap: .2em;
}

.grid3 {
    display: grid;
    height: 100vh;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 4fr .2fr;
    
    grid-template-areas:
        "topnav topnav topnav"
        "about about about"
        "footer footer footer";
    grid-gap: 0;
}


/*nested grid navigation and nav styling*/
.top-nav {
    
    grid-area: topnav;
}

.top-nav ul {
    display: grid;
    grid-gap: 1em;
    padding: 0px;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    
}

.top-nav a {
    display: block;
    text-align: center;
    color:white;
    text-decoration: none;
}
.active{
    text-decoration: #4be1f4 underline; 
}

.top-nav a:hover {
    
    text-decoration: #4be1f4 overline;
}
/*end nav*/


/*main header and heading*/
.main-header {
    
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#name-header{
    
    text-align: center;
    color: #0078d7;
    background-color: white;
    font-size: 150px; 
}

/*project space area*/
.project-space {
    background: white;
    border: double;
    grid-area: projects;
    margin-bottom: 0px;    
}

.main-text-area{
    background: #aa2954;
    grid-area: about;
    margin-bottom: 0px; 
}

.social-area {
    
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    height:400px;
    grid-gap: .2em;
    
    
}
.social-area a {
    
    color:red;
    text-decoration: red underline;
}

.social-area a:hover {
    color:black;
    font-style: italic;
    text-decoration: none;
}

/*side bar*/

#sidebar {
    background: rgba(23, 23, 23, 0.6);
    grid-area: sidebar;
    border: double;
}

/*content areas*/

#box1 {
    
    background: #d87d1d;
    grid-area: content1;
    border: double;

}

#box2 {
    background: #d87d1d;
    grid-area: content2;
    border: double;

}

#box3 {
    background: #d87d1d;
    grid-area: content3;
    border: double;
}

#box4 {
    
    background: #d87d1d;
    grid-area: content4;
    border: double;
}
/*photos on about me page*/

.photos {
    
    background-attachment: fixed;
    background-size: cover; 
    display: grid;
    padding: 0px;
    
    grid-template-columns: repeat(3, 1fr);
    
}

.photo1{
    background: url("images/sunset-cliffs.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    grid-column: 1/3;
    
    
}
.photo2{
    background:url(images/mugshot4.jpg); 
    background-position: center;
    background-size: cover;
    
    grid-column: 3/4;
    
}
.photo3{
    background: url(images/photoofme1.jpg);
    background-position: center;
    background-size: cover;
   
    height: 300px;
    grid-column: 1/2;
}    

.photo4{
    background: url("images/streets-background.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 2/4;

}

.email {
    background-color:rgba(255, 255, 255, 0.7);
    grid-column: 1/2;
      
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.github {
    background-color:rgba(255, 255, 255, 0.6);
    grid-column: 2;
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


.linkedin {
    background-color:rgba(255, 255, 255, 0.7);
    justify-content: start;
    grid-column: 3;
       
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
/*footer*/
.footer {
    background: rgba(23, 23, 23, 0.6);
    grid-area: footer;

}
.footer ul {
    list-style: none;
    float:left;

    
}

.footer a {
    text-decoration: none;
    color:white;
}

.footer a:hover {
    
    text-decoration: #4be1f4 underline;
}


/*responsive with the use of media queries*/
@media only screen and (max-width: 550px) {
    body {
        background-image:url("images/javier-esteban-freeway-smaller.jpg");
    }
    
    .grid {
    
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 4fr 1fr;
        grid-template-areas:
            "topnav"
            "main"
            "footer";  
    }
    .grid2 {
    
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "topnav"
            "projects"
            "content1"
            "content2"
            "content3"
            "content4"
            "footer";
        grid-row-gap: .3em;
    }
    .grid3 {
    
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 4fr 1fr;
        grid-template-areas:
            "topnav"
            "about"
            "footer";  
    }
    
    .photos {
    
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        
    }
    .photo1 {
        grid-row: 1/1;
        grid-column: 1/4;
        
    }
    .photo2 {
        grid-row: 2/2;
        grid-column: 1/4;
        
    }
    .photo3 {
        grid-row: 3/3;
        grid-column: 1/4;
        
    }
    .photo4 {
        grid-row: 4/4;
        grid-column: 1/4;
        
    }

    .main-text-area{
        
        padding-bottom: 200px;
    }
    .social-area {

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
    }
    .email {
        background-color:rgba(255, 255, 255, 0.7);
        grid-column: 1/4;
        grid-row: 1/1;
        padding-top: 10px;
        
        flex-direction: none;

    }
    .github {
        background-color:rgba(255, 255, 255, 0.6);
        grid-column: 1/4;
        grid-row: 2/2;
        padding-top: 10px;
        
        display: block;
        flex-direction: none;
    }
    .linkedin {
        background-color:rgba(255, 255, 255, 0.7);
        grid-column: 1/4;
        grid-row: 3/3;
        padding-top: 10px;
        
        justify-content:center;
        align-items: center;
    }
    .main-header {
        
        padding-top: 0px;
        
    }
    #name-header{
        font-size: 70px; 
    }
    .footer ul {
        text-align: center;
        padding: 0;
        float: none;
    }
    .footer-header {
        padding: 5px;
        margin: 0px;
    }
}
